.App {
  text-align: center;
  overflow: scroll;
  font-family: Calibri, Arial, sans-serif;
}

/* .rbc-time-slot, .rbc-event {
    max-height: 10px;
} */

.rbc-event-content, .rbc-event-label {
    font-size: 14px !important;
}

.rbc-allday-cell {
    display: none;
}

input {
    margin-top: 8px;
    width: 30%;
    align-self: left;
    font-size: large;
}

button {
    margin-top: 8px;
    font-size: large;
}

.App {
    align-items: left;
}

img {
    width: 100%;
}

button {
    margin-left: 4px;
}

.rbc-toolbar {
    display: none !important;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: #d9faf9;
}