.App {
  text-align: center;
  overflow: scroll;
}

.rbc-time-slot {
    min-height: 20px;
}

.rbc-header, .rbc-day-slot {
    min-width: 300px;
}

.rbc-allday-cell {
    display: none;
}

input {
    margin-top: 8px;
    width: 30%;
    align-self: left;
    font-size: large;
}

button {
    margin-top: 8px;
    font-size: large;
}

.App {
    align-items: left;
}

img {
    width: 100%;
}